# The name of the program
name: bash-pipes-and-socket-sdk

# The initial title of the window (can have spaces and symbols etc).
title: Bash, Pipes, & Socket SDK

# A string that indicates the version of the cli tool and resources.
version: v0.0.1
version_short: 0.0.1

# A directory is where your application's code is located.
input: src

# Shell command to build an application.
build: copy () { cp src/* vendor/* "$1"; }; copy

# The binary output path
output: build

# The name of the product executable
executable: bash-pipes-and-ssc

# Advanced Compiler Settings (ie C++ compiler -02, -03, etc).
flags: -O1

# Advanced Compiler Settings for debug purposes (ie C++ compiler -g, etc).
debug_flags: -g -O3

# A boolean that determines if stdout and stderr should get forwarded
forward_console: true

# The Linux command to execute to spawn the "back-end" process.
linux_cmd: main.sh

# The macOS command to execute to spawn the "back-end" process.
mac_cmd: main.sh

# The initial height of the first window.
height: 512

# The initial width of the first window.
width: 1024

# Automatically determine architecture
arch: auto
